body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #565656;
}

.header-container {
    display: grid;
    grid-template-rows: 1fr 70px 1fr;
    grid-template-areas:
        "header-title"
        "header-menu"
        "header-search";
    height: 180px;
    width: 100vw;
}

.header-title,
.header-menu,
.header-search {
    text-transform: uppercase;
}

.header-title {
    grid-area: header-title;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu {
    grid-area: header-menu;
    display: grid;
    grid-template-columns: 1fr 60vw 1fr;
    justify-items: center;
    align-items: center;
    color: #FFFFFF;
    background-color: black;
}

.header-menu__left {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.header-menu__center {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}

.header-menu__button {
    height: 40px;
    width: 90px;

    border-radius: 20px;
    background: #ED1331;
}

.header-menu__link-button {
    position: relative;
    top: 12px;
    left: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.header-menu__right {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.header-menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.header-menu__link_2 {
    text-decoration: none;
    color: #565656;
}

.header-search {
    grid-area: header-search;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-banner__background {
    display: flex;
    gap: 0;
}


.main-banner__background_2 {
    position: relative;
    left: 341px;
    top: -514px;
}


/* .main-container {    
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "main-banner main-banner main-banner"
        "main-catalog"
        "main-product_cards";
}

.main-banner {
    grid-area: main-banner;
}

.main-catalog {
    grid-area: main-catalog;
}

.main-product_cards {
    grid-area: main-product_cards;
}*/