html,
body,
.page {
    height: 100%;
}

body {
    height: auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    color: #565656;
    background-color: #FCFCFC;
}

.page {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: grid;
    grid-template-rows: 1fr 10vh 1fr;
    grid-template-areas:
        "header-title"
        "header-menu"
        "header-menu_list";
    height: 25vh;
    width: 100%;
}

.header-container {
    position: fixed;
    z-index: 3;
}

.header-title,
.header-menu,
.header-search {
    text-transform: uppercase;
}

.header-title {
    grid-area: header-title;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCFCFC;
}

.header-menu {
    grid-area: header-menu;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 75px;
    color: #FFFFFF;
    background-color: black;
}

.header-menu__left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 260px;
}

.header-menu__left h1 {
    padding-right: 10%;
    font-size: 1em;
}

.header-menu__left img {
    padding-right: 2%;
}

.header-menu__left select {
    width: 90%;
    border: 0;
    outline: 0;
    appearance: none;
    color: #FFFFFF;
    background-color: black;
}

select:hover {
    text-transform: uppercase;
}

option {
    width: 50%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.1em;
    color: #565656;
    background-color: #FFFFFF;
}

.disabled {
    font-size: 0.8em;
    color: #565656;
}

.header-menu__center {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3.5em;
}

.header-menu__link-button {
    padding: 1.9vh 2vw;
    border-radius: 2em;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #ED1331;
}

.header-menu__link:hover {
    padding: 4vh 2vw;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2B2B2B;
}

.header-menu__right {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.5em;
    width: 260px;
}

.header-menu__right img:hover {
    width: 30px;
}

.header-menu__link,
.header-menu__link_2 {
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu__link {
    color: #FFFFFF;
}

.header-menu_list {
    grid-area: header-menu_list;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2.5em;
    background: #FCFCFC;
}

.header-menu__link_2:hover {
    font-size: large;
}

.header-menu__link_2 {
    color: #565656;
}

.main-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "main-banner"
        "main-catalog"
        "main-goods";
}

.main-container {
    padding: 10vh 75px;
    padding-top: 25vh;
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-banner__background {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));*/
    width: 100%;
}

.main-banner__img_1,
.main-banner__img_2,
.main-banner__img_3 {
    display: flex;
    justify-content: center;
}

.main-banner__img_1 {
    background-color: #13ED1C;
}

.main-banner__img_2 {
    background-color: #FFF500;
}

.main-banner__img_3 {
    background-color: #FF4003;
}

.main-banner__img_1 img,
.main-banner__img_2 img,
.main-banner__img_3 img {
    height: auto;
    width: 100%;
    max-width: 348px;
    max-height: 646px;
}


.main-banner {
    position: relative;
}

.main-banner__center {
    position: absolute;
    top: auto;

    height: auto;
    width: 100%;
    max-width: 40%;
    min-height: 60%;

    border-radius: 20px;
    color: #1D1D1D;
    background-color: rgba(255, 255, 255, 0.7);
}

.main-banner__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-banner__title {
    margin: 0;
    font-size: 4.5em;
    font-weight: 500;
}

.main-banner__text {
    font-size: 2em;
    font-weight: 500;
}

.main-banner__button {
    height: 6vh;
    width: 10vw;
    text-align: center;
    border-radius: 2em;
    background-color: #404444;
}

.main-banner__link-button {
    line-height: 3.3em;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-catalog {
    display: flex;
    height: 40vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-catalog__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}

.main-catalog__round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 16vh;
    cursor: pointer;
    border-radius: 50%;
    background: #f1f1f1d5;
}

.main-catalog__block a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1D1D1D;
}

.main-goods {
    grid-area: main-goods;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.main-goods__header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.main-goods__header h2 {
    font-weight: 600;
    font-size: 2.3em;
    color: #1D1D1D;
}

.main-goods__header a {
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #565656;
}

.main-goods__header-link {
    margin-left: auto;
}

.main-goods__header a:hover {
    font-size: large;
}

.main-goods__header img:hover {
    width: 30px;
}

.main-goods__product_cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 2em;
    row-gap: 4em;

    /*    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;*/
}

.main-goods__article {
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 20.5%;
}

.main-goods__image {
    position: relative;
}

.main-goods__photo {
    height: auto;
    width: 100%;
    max-width: 300px;
    max-height: 450px;
}

.main-goods__like {
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
    border: none;
    background-color: #fffdfd00;
}

.main-goods__label {
    position: absolute;
    bottom: 0;
    margin-bottom: 4px;
    padding: 4px 6px;
    font-weight: 600;
    color: #FFFFFF;
    background: #13ED1C;
}

.main-goods__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main-goods__to_buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.5em;
    color: #1D1D1D;
}

.main-goods__shopping_bag {
    border: none;
    background-color: #fffdfd00;
    cursor: pointer;
}

.main-goods__subinfo {
    display: none;

    /*display: flex;*/
    flex-direction: column;
    margin-top: 25px;
}

.main-goods__subinfo-title {
    font-size: larger;
    color: #1D1D1D;
}

.main-goods__subinfo-values {
    margin-top: 5px;
}


.main-goods__article:hover .main-goods__subinfo {
    display: flex;
}

.main-goods__article:hover {
    z-index: 1;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    height: 52%;
    background-color: white;
}

/* made by background-image::after
.main-goods__image_1 {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("./image/zip-hoodie1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border: 1px solid red;
}

.main-goods__image_2 {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("./image/zip-hoodie2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border: 1px solid red;
}

.main-goods__image_3 {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("./image/zip-hoodie3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border: 1px solid red;
}

.main-goods__image_4 {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("./image/zip-hoodie4.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border: 1px solid red;
}

.main-goods__image_5 {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("./image/zip-hoodie5.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border: 1px solid red;
}

.main-goods__image_6 {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("./image/zip-hoodie6.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border: 1px solid red;
}

.main-goods__image_7 {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("./image/zip-hoodie7.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border: 1px solid red;
}

.main-goods__image_8 {
    position: relative;
    height: 100%;
    width: auto;
    background-image: url("./image/zip-hoodie8.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border: 1px solid red;
}
*/

.footer-container {
    margin-top: auto;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}

.footer-navigation {
    display: flex;
    justify-content: center;
}

.footer-navigation__support,
.footer-navigation__search,
.footer-navigation__about_the_company {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.footer-navigation__title {
    font-weight: 600;
    text-transform: uppercase;
    color: #1A1A1A;
}

.footer-navigation__support a,
.footer-navigation__search a,
.footer-navigation__about_the_company a {
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #1D1D1D;
}

.footer-payment {
    padding-bottom: 30px;
}

.footer-copyright {
    border-top: 1px solid #DBDBDB;
    text-align: center;
    padding: 15px 0 15px 0;
}