html,
body,
.page {
    height: 100%;
}

body {
    height: auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    color: #565656;
    background-color: #FCFCFC;
}

.page {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: grid;
    grid-template-rows: 1fr 10vh 1fr;
    grid-template-areas:
        "header-title"
        "header-menu"
        "header-search";
    height: 25vh;
    width: 100%;
}

.header-container {
    position: fixed;
    z-index: 1;
}

.header-title,
.header-menu,
.header-search {
    text-transform: uppercase;
}

.header-title {
    grid-area: header-title;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCFCFC;
}

.header-menu {
    grid-area: header-menu;
    display: grid;
    grid-template-columns: 1fr 60vw 1fr;
    justify-items: center;
    align-items: center;
    color: #FFFFFF;
    background-color: black;
}

.header-menu__left {
    grid-column: 1/2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header-menu__left h1 {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1em;
}

.header-menu__left img {
    padding-right: 2%;
}

.header-menu__left select {
    width: 100%;
    border: 0;
    outline: 0;
    appearance: none;
    color: #FFFFFF;
    background-color: black;
}

option {
    width: 50%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    color: #565656;
    background-color: #FFFFFF;
}

option .disabled {
    font-size: 0.8em;
    color: #565656;
}

.option_in_the_title {}


.header-menu__center {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3.5em;
}

.header-menu__link-button {
    padding: 1.9vh 2vw;
    border-radius: 2em;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #ED1331;
}

.header-menu__link-woman {
    padding: 3.5vh 2vw;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2B2B2B;
}

.header-menu__right {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5em;
}

.header-menu__link,
.header-menu__link_2 {
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu__link {
    color: #FFFFFF;
}

.header-menu_list {
    grid-area: header-search;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2.5em;
    background: #FCFCFC;
}

.header-menu__link_2 {
    color: #565656;
}

.main-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "main-banner"
        "main-catalog"
        "main-product_cards";
}

.main-container {
    padding-top: 25vh;
}

.main-banner {
    grid-area: main-banner;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-banner__background {
    display: flex;
    flex-direction: row;

    /*03.06 - vvela novie znaheniya, nuzhno podumat*/
    justify-content: center;
    align-items: center;
    gap: 0;
}

.main-banner__img {
    height: auto;
    width: 100%;
    min-height: 646px;
    max-width: 430px;
}

/* подумать как по другому разместить блок по центру*/

.main-banner__center {
    position: absolute;
    left: 31.3%;
    top: 40%;
    width: 37vw;
    height: 50vh;
    border-radius: 20px;
    color: #1D1D1D;
    background-color: rgba(255, 255, 255, 0.7);
}

.main-banner__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-banner__title {
    margin: 0;
    font-size: 4.5em;
}

.main-banner__text {
    font-size: 2em;
}

.main-banner__button {
    height: 6vh;
    width: 10vw;
    text-align: center;
    border-radius: 2em;
    background-color: #404444;
}

.main-banner__link-button {
    line-height: 3.3em;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-catalog {
    display: flex;
    height: 40vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    /*    column-gap: 2.3em;*/

}

.main-catalog__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}

.main-catalog__round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 16vh;
    border-radius: 50%;
    background: #f1f1f1d5;
}

.main-catalog__block a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1D1D1D;
}


.main-product_cards {
    grid-area: main-product_cards;
}