body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #565656;
}

.header-container {
    display: grid;
    grid-template-rows: 1fr 70px 1fr;
    grid-template-areas:
        "header-title"
        "header-menu"
        "header-search";
    height: 180px;
    width: 100vw;
}

.header-title,
.header-menu,
.header-search {
    text-transform: uppercase;
}

.header-title {
    grid-area: header-title;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu {
    grid-area: header-menu;
    display: grid;
    grid-template-columns: 1fr 60vw 1fr;
    justify-items: center;
    align-items: center;
    color: #FFFFFF;
    background-color: black;
}

.header-menu__left {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.header-menu__left-item1 {}

.header-menu__center {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}

.header-menu__button {
    height: 40px;
    width: 90px;
    border-radius: 20px;
    background: #ED1331;
}

.header-menu__right {
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.header-menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.header-menu__link_2 {
    text-decoration: none;
    color: #565656;
}

.header-search {
    grid-area: header-search;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.footer-container {
    background-color: #F6F6F6;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-navigation {
    width: 100vw;
    padding: 3vh;
    display: flex;
    justify-content: space-around;
}

.footer-navigation__link {
    text-decoration: none;
    color: #1D1D1D;
    font-weight: lighter; /*вот тут ничего не помогает, ни числом выставлять размер, ни словом. Видимо, где-то идет конфликт*/
    text-transform: uppercase;
    margin-top: 10px;
}

.footer-navigation__title {
    color: #1A1A1A;
    font-weight: 600;
}

.footer-support {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-sale {
    color: #ED1331; 
}

.footer-about_the_company {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-payment {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.footer-copyright {
    width: 100vw;
    height: 5vh;
    border-top: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
}