.footer-container {
    background-color: #F6F6F6;

}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 15vw 0 15vw;
}

.footer-navigation__support,
.footer-navigation__search,
.footer-navigation__about_the_company {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400; /*буквы жирненькие, толщина шрифта не изменяется*/
    line-height: 100%;
    color: #1D1D1D;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-bottom: 5px; /*не получается сделать расстояния между кнопками*/
} 

.footer-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 20px 0 20px 0;
}

.footer-copyright {
    border-top: 1px solid #DBDBDB;
    text-align: center;
    padding: 15px 0 15px 0;
}