.main-catalog {
    display: flex;
    height: 40vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    /*    column-gap: 2.3em;*/
}

.main-catalog__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
}

.main-catalog__round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 16vh;
    border-radius: 50%;
    background: #f1f1f1d5;
}

.main-catalog__block a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1D1D1D;
}