/* Стили для смартфонов и планшетов с экранами до 705px */

@media (max-width: 705px) {

    .header-title {
        height: 50px;
        font-size: 0.7em;
    }

    .header-menu {
        padding: 0 20px;
        height: 70px;
    }

    .header-menu__left h1 {
        font-size: 1.6em;
    }

    .burger {
        display: flex;
    }

    .header-menu__left img,
    .header-menu__left form {
        display: none;
    }

    .header-menu__center {
        display: none;
    }

    .header-menu__right-logo_heart {
        display: none;
    }

    .header-menu_list {
        display: none;
    }

    .main-container {
        padding: 0;
        padding-top: 10vh;
    }

    .main-banner {
        margin-top: 45px;
    }

    .main-banner__background {
        display: flex;
        justify-content: center;
    }

    .main-banner__img_1 {
        display: none;
    }

    .main-banner__img_2 {
        max-width: 705px;
        background-color: #FFF500;
        width: 100vw;
    }

    .main-banner__img_2 img {
        max-width: 375px;
        max-height: 420px;
    }

    .main-banner__img_3 {
        display: none;
    }

    .main-banner__title {
        margin: 0;
        font-size: 2.5em;
        font-weight: 500;
    }

    .main-banner__text {
        font-size: 1em;
        font-weight: 500;
    }

    .main-banner__arrow {
        display: none;
    }

    .main-banner__button a {
        font-size: 0.5em;
    }

    .main-catalog {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        margin: 30px 30px;
    }

    .main-catalog__block {
        row-gap: 1em;
    }

    .main-catalog__round {
        width: 130px;
    }

    .main-goods__header h2 {
        margin-left: 20px;
        font-size: 2em;
    }

    .main-goods__header a {
        font-size: 1em;
    }

    .main-goods__arrow {
        margin-right: 20px;
    }

    .main-goods__product_cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap: 20px;
        margin: 10px 40px;
    }

    .main-goods__images {
        width: 150px;
    }

    .main-goods__wrapper {
        max-height: 320px;
    }

    .main-goods__label {
        font-size: smaller;
    }

    .main-goods__article {
        height: 320px;
    }

    .main-goods__article:hover {
        height: 370px;
    }

    .main-goods__info p {
        font-size: smaller;
    }

    .main-goods__shopping_bag {
        width: 24px;
        height: 24px;
    }

    .main-goods__info span {
        font-size: smaller;
    }

    .main-goods__subinfo-title {
        font-size: smaller;
    }

    .main-goods__subinfo-values {
        font-size: smaller;
        margin-top: 2px;
    }

    .footer-container {
        margin-top: 30px;
        width: 100%;
    }

    .footer-navigation__full_list {
        display: none;
    }

    .footer-navigation__list_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .footer-navigation__support,
    .footer-navigation__search,
    .footer-navigation__about_the_company {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer-navigation__support a,
    .footer-navigation__search a,
    .footer-navigation__about_the_company a {
        font-size: 0.7em;
    }

    .footer-copyright {
        font-size: 0.6em;
    }

    .footer-payment {
        margin: 5px 0;
        padding-bottom: 10px;
    }
}

/* Стили для устройств с экранами в диапазоне 706px - 1023px (планшеты и подобные) */

@media (min-width: 706px) and (max-width: 1023px) {
    .footer-navigation__full_list {
        display: flex;
    }

    .header-title {
        height: 40px;
        font-size: 0.8em;
    }

    .header-menu {
        padding: 0 45px;
        height: 60px;
    }

    .header-menu__left h1 {
        font-size: 1.6em;
    }

    .header-menu__left img,
    .header-menu__left form {
        display: none;
    }

    .header-menu__center {
        display: none;
    }

    .icon_magnifying {
        display: none;
    }

    .header-menu__search-input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .header-menu__input {
        width: 100%;
        height: 24px;
        background-color: #F6F6F6;
    }

    .header-menu_list {
        display: none;
    }


    .main-container {
        padding: 0 35px;
        padding-top: 15vh;
    }

    .main-banner {
        height: 400px;
    }

    .main-banner__background {
        display: flex;
        justify-content: center;
        height: 400px;
    }

    .main-banner__img_2 {
        display: none;
    }


    .main-banner__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-banner__title {
        margin: 0;
        font-size: 2.6em;
        font-weight: 500;
    }

    .main-banner__text {
        font-size: 1.2em;
        font-weight: 500;
    }

    .main-banner__arrow {
        display: none;
    }

    .main-banner__button a {
        font-size: 0.7em;
    }

    .main-catalog {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .main-catalog__block {
        row-gap: 1em;
    }

    .main-catalog__round {
        width: 150px;
    }

    .main-goods {
        margin-bottom: 30px;
    }

    .main-goods__header h2 {
        margin-left: 10px;
        font-size: 1.7em;
    }

    .main-goods__header a {
        font-size: 1em;
    }

    .main-goods__arrow {
        margin-right: 20px;
    }

    .main-goods__product_cards {
        display: flex;
        flex-flow: row wrap;
    }

    .main-goods__wrapper {
        height: 350px;
        width: 170px;
    }

    .main-goods__label {
        font-size: smaller;
    }

    .main-goods__article {
        height: 350px;
        width: 1 70px;
    }

    .main-goods__images {
        width: 170px;
    }

    .main-goods__article:hover {
        height: 420px;
    }

    .main-goods__info {
        gap: 5px;
    }

    .main-goods__info p {
        font-size: smaller;
    }

    .main-goods__shopping_bag {
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }

    .main-goods__info span {
        font-size: smaller;
    }

    .main-goods__subinfo-title {
        font-size: smaller;
    }

    .main-goods__subinfo-values {
        font-size: smaller;
        margin-top: 0;
    }

    .footer-navigation__full_list {
        display: none;
    }

    .footer-navigation__list_details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
    }

    .footer-navigation__support a,
    .footer-navigation__search a,
    .footer-navigation__about_the_company a {
        font-size: 0.7em;
    }

    .footer-payment {
        margin: 10px 0;
    }

    .footer-copyright {
        font-size: 0.8em;
    }

}

/* Стили для ноутбуков и компьютеров с экранами более 1024px */

@media screen (min-width: 1024px) {
    .footer-navigation__full_list {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .footer-navigation__list_details {
        display: none;
    }
}