@media (max-width: 375px) {

    body,
    header {
        max-width: 375px;
    }

    .header-title {
        height: 50px;
        font-size: 0.7em;
    }

    .header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
    }

    .header-menu__left h1 {
        font-size: 1.6em;
    }

    .burger {
        display: flex;
    }

    .header-menu__left img,
    .header-menu__left form {
        display: none;
    }

    .header-menu__center {
        display: none;
    }

    .header-menu__right-logo_heart {
        display: none;
    }

    .header-menu_list {
        display: none;
    }

}