@media (min-width: 376px) .main-catalog {
    display: flex;
    height: 40vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 375px) {

    .header-title {
        height: 50px;
        font-size: 0.7em;
    }

    .header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        height: 70px;
    }

    .header-menu__left h1 {
        font-size: 1.6em;
    }

    .burger {
        display: flex;
    }

    .header-menu__left img,
    .header-menu__left form {
        display: none;
    }

    .header-menu__center {
        display: none;
    }


    .header-menu__right-logo_heart {
        display: none;
    }

    .header-menu_list {
        display: none;
    }

    .main-container {
        padding: 0;
        padding-top: 15vh;
    }

    .main-banner {}

    .main-banner__background {
        display: flex;
    }

    .main-banner__img_1 {
        display: none;
    }

    .main-banner__img_2 {
        width: 375px;
        background-color: #FFF500;
    }

    .main-banner__img_2 img {
        max-width: 375px;
        max-height: 420px;
    }

    .main-banner__img_3 {
        display: none;
    }

}



<div class="header__search-input"><input type="text" placeholder="Поиск"></div>.header__dropdown {
    display: none;
    align-items: center;
    justify-content: center;
    height: 48px;
    min-height: 48px;
    width: 48px;
    min-width: 48px;
    margin-right: 15px;
    /* border: 1px solid black; */
}

.header__dropdown img {
    height: 24px;
    min-height: 24px;
    width: 30px;
    min-width: 30px;
}